.attribution {
    font-size: 11px;
    text-align: center;
    margin-top: 20px;
}

.attribution a {
    color: hsl(228, 45%, 44%);
}

body {
    font-family: 'Lexend Deca', sans-serif;
    display: flex;
    flex-direction: column;
}

h2 {
    font-family: 'Big Shoulders Display', cursive;
    font-size: 50px;
}

p {
    color: rgba(255, 255, 255, 0.5);
    line-height: 30px;
}

.container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 80vh;
    border-bottom-left-radius: 8px;
    max-width: 1000px;
    margin: 0 auto;
}

.boxes {
    color: white;
    padding: 40px;
    flex-basis: 350px;
}

#sedans {
    background-color: hsl(31, 77%, 52%);
    border-top-left-radius: 8px;
    border-bottom-left-radius: 8px;
}

#suvs {
    background-color: hsl(184, 100%, 22%);
}

#luxury {
    background-color: hsl(179, 100%, 13%);
    border-top-right-radius: 8px;
    border-bottom-right-radius: 8px;
}

button {
    font-size: 15px;
    padding: 15px 30px;
    border-radius: 25px;
    border: none;
    margin-top: 50px;
}

#btn-sedans {
    color: hsl(31, 77%, 52%);
    border: 1px solid #fff;
}

#btn-suvs {
    color: hsl(184, 100%, 22%);
    border: 1px solid #fff;
}

#btn-luxury {
    color: hsl(179, 100%, 13%);
    border: 1px solid #fff;
}

#btn-sedans:hover {
    background-color: hsl(31, 77%, 52%);
    color: #fff;
}

#btn-suvs:hover {
    background-color: hsl(184, 100%, 22%);
    color: #fff;
}

#btn-luxury:hover {
    background-color: hsl(179, 100%, 13%);
    color: #fff;
}

@media screen and (max-width: 450px) {

    .container {
        display: flex;
        flex-wrap: wrap;
        margin: 0px 15px;
    }

    #sedans {
        background-color: hsl(31, 77%, 52%);
        border-bottom-left-radius: 0px;
        border-top-right-radius: 8px;

    }

    #luxury {
        background-color: hsl(179, 100%, 13%);
        border-bottom-left-radius: 8px;
        border-top-right-radius: 0px;
    }
}